body{
    margin: 0;
    background-color: blanchedalmond;
}
.color{
    font-family: Arial, Helvetica, sans-serif;
}
.col2{ font-family: Arial, Helvetica, sans-serif;
}
.col3{
     font-family: Arial, Helvetica, sans-serif;
}
